ipython>=8.10
jupyterlab>=3.0
notebook
kedro~=1.0.0
kedro-datasets[pandas-csv]>=3.0.1
kedro-datasets[pandas-parquet]>=3.0.1
pyarrow
pandas>=2.2.3
matplotlib
seaborn
nltk
scikit-learn
gensim
numpy
scipy